table {
    border-collapse: collapse;
    width: 280px;
    height: 280px;

}

button {
    width: 60px;
    height: 60px;
    color: aliceblue;
    font-size: 30px;
}

button:hover {
    cursor: pointer;
}

div {
    display: inline-block;
}

#esit {
    height: 190px;
}

#sonuc {
    text-align: right;
    height: 60px;
    font-size: 30px;
}

#gecmis {
    min-width: 150px;
    min-height: 316px;
    max-width: 150px;
    max-height: 316px;
    overflow-y: scroll;
    margin-top: -5px;
}

#hesap {
    margin-top: 20%;
    margin-left: 35%;
}

#renkliKutu {
    margin-top: 10px;
    margin-left: 804px;
    display: block;
}

#renkSec {
    width: 156px;
    height: 60px;
    margin-top: -5px;
    cursor: pointer;
}